
<table *ngFor="let appartement of appartements">
  <tr>
    <td>id</td>
    <td>{{appartement._id}}</td>
  </tr>
  <tr>
    <td>date creation</td>
    <td>{{appartement.activite.date_creation}}</td>
  </tr>
  <tr>
    <td>date de derniers modification</td>
    <td>{{appartement.activite.date_derniere_modification}}</td>
  </tr>
 <tr>
    <td>nom </td>
    <td>{{appartement.general.nom}}
    </td>
  </tr>
  <tr>
    <td>Annonce</td>
    <td>{{appartement.general.annonce}}
    </td>
  </tr>
  <tr>
    <td>Etat</td>
    <td>{{appartement.general.etat}}
    </td>
  </tr>
  <tr>
    <td>Type</td>
    <td>{{appartement.general.type}}
    </td>
  </tr>
  <tr>
    <td>usage precedent</td>
    <td>{{appartement.general.usage_precedent}}
    </td>
  </tr>
  <tr>
    <td>reference</td>
    <td>{{appartement.general.ref}}
    </td>
  </tr>
  <tr>
    <td>Statut a louer?</td>
    <td>{{appartement.statut.a_louer}}</td>
  </tr>
  <tr>
    <td>statut de publication</td>
    <td>{{appartement.statut.statut_publication}}</td>
  </tr>
  <tr>
    <td>statut de disponibilite</td>
    <td>{{appartement.statut.disponibilite}}</td>
  </tr>

   <!-- </tr>
    <td>
      {{appartement.charges_taxes.taxe.bureaux.annuelle_m2}}
    </td>
  </tr> -->
  <tr>
    <td>modalites visite</td>
    <td>{{ appartement.interne.modalites_visite }}</td>
  </tr>
  <tr>
    <td>type isolation</td>
    <td>{{ appartement.caracteristiques.type_isolation }}</td>
  </tr>
  <tr>
    <td>type eclairage</td>
    <td>{{ appartement.caracteristiques.type_eclairage }}</td>
  </tr>
  <tr>
    <td>entrepot isole</td>
    <td>{{ appartement.caracteristiques.entrepot_isole }}</td>
  </tr>
  <tr>
    <td>pont roulant</td>
    <td>{{ appartement.caracteristiques.pont_roulant }}</td>
  </tr>
  <tr>
    <td>toiture type</td>
    <td>{{ appartement.caracteristiques.toiture.type }}</td>
  </tr>
  <tr>
    <td>toiture isolee</td>
    <td>{{ appartement.caracteristiques.toiture.isolee }}</td>
  </tr>
  <tr>
    <td>hauteur</td>
    <td>{{ appartement.caracteristiques.hauteur.min }}</td>
  </tr>
  <tr>
    <td>hauteur</td>
    <td>{{ appartement.caracteristiques.hauteur.max }}</td>
  </tr>
  <tr>
    <td>acces</td>
    <td>{{ appartement.caracteristiques.acces?.plain_pied }}</td>
  </tr>
  <tr>
    <td>quai</td>
    <td>{{ appartement.caracteristiques.acces?.quai }}</td>
  </tr>
  <tr>
    <td>parkings pl</td>
    <td>{{ appartement.caracteristiques.parkings?.pl }}</td>
  </tr>
  <tr>
    <td>parkings vl</td>
    <td>{{ appartement.caracteristiques.parkings?.vl }}</td>
  </tr>
  <tr>
    <td>type chauffage</td>
    <td>{{ appartement.caracteristiques.chauffage?.type }}</td>
  </tr>
  <tr>
    <td>chauffage source</td>
    <td>{{ appartement.caracteristiques.chauffage?.source }}</td>
  </tr>
  <tr>
    <td>type de chauffage </td>
    <td>{{ appartement.caracteristiques.bureau?.type_chauffage }}</td>
  </tr>
  <tr>
    <td>climatisation</td>
    <td>{{ appartement.caracteristiques.bureau?.climatisation }}</td>
  </tr>
  <tr>
    <td>loyer annuel</td>
    <td>{{appartement.location?.loyer_annuel?.ht_hc}}</td>
  </tr>
  <tr>
    <td>regime fiscal</td>
    <td>{{appartement.location?.regime_fiscal}}</td>
  </tr>
  <tr>
    <td>type bail</td>
    <td>{{appartement.location?.type_bail}}</td>
  </tr>
  <tr>
    <td>depot garantie</td>
    <td>{{appartement.location?.depot_garantie}}</td>
  </tr>
  <tr>
    <td>mode paiement</td>
    <td>{{appartement.location?.mode_paiement}}</td>
  </tr>
  <tr>
    <td>article 606</td>
    <td>{{appartement.location?.article_606}}</td>
  </tr>
  <tr>
    <td>impot foncier</td>
    <td>{{appartement.location?.impot_foncier}}</td>
  </tr>
  <tr>
    <td>honoraires hors tva preneur</td>
    <td>{{appartement.location?.honoraires_hors_tva?.preneur}}</td>
  </tr>
  <tr>
    <td>type de mandat</td>
    <td>{{appartement.mandat?.type}}</td>
  </tr>

</table>

